@charset "UTF-8";

.top-nav {
	background-color: #722f37;
}

.navbar-brand {
		font-size: 30px;
		color: #FFFFFF;
}

.offcanvas-title {
	color: #722f37;
}

.theScroll {
	color: rgb(0, 0, 0);
	background-color: #FFFFFF;
}

.container mt-3{
	padding:left;
	border: 1em;
}
.form-check-input{
	width: 1em;
}
.form-check-label{
	color: #FFFFFF;
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.homePage {
    font-family: Arial, sans-serif;
    font-size: 70px;
    background-image: url('../images/backg.jpeg'); /* Replace 'static/images/backg.jpeg' with the path to your image */
  /*   background-size: cover;
    background-position: center; */ 
    color: white; /* Set text color to contrast with background */
    padding: 50px 0; /* Add padding to ensure content is visible */
}
